* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; }
body { 
    font: 13px Helvetica, Arial; }
.ideaBox {
    width: 10%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.descriptionBox {
    width: 50%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}